:root {
    --primary-1: #6200ee;
    --primary-2: #018786;
    --primary-3: #bb86fc;
    --error: #ff1212;

    --border: #353535;
    --border-hover: #99a3ba;
    --text-color: #6c7486;
    --text-color-headline: #e1e1e1;
    --text-color-sub: #b5b5b5;
    --shadow: rgba(22, 30, 50, 0.2);

    --nav-bg: #2d303a;
    --card-bg: #131519;
    --bg: #101010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
    font-family: "Comfortaa", sans-serif;
    background: var(--bg);
    color: var(--text-color);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.3s;
}
.page-enter,
.page-leave-to {
    transform: translateX(-70%);
    opacity: 0;
}

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .page-enter-active,
    .page-leave-active {
        transition: all 0.3s;
    }
    .page-enter,
    .page-leave-to {
        transform: translateY(-50%);
        opacity: 0;
    }

    body {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
